div.container {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  padding: 20px 0 60px 60px;
  border: 1px solid grey;
  max-width: 1000px;
  font-family: Poppins;
  background: linear-gradient(
    60deg,
    #3d3393 0%,
    #2b76b9 10%,
    #2cacd1 65%,
    #35eb93 100%
  );
  color: white;
  border-radius: 20px;
}
.cities {
  max-width: 500px;
  text-decoration: underline;
  text-align: center;
}
.col-sm-3 {
  padding: 40px 10px;
}
.today {
  padding: 20px 0 20px 20px;
  max-width: 700px;
  border: 1px solid grey;
  border-radius: 30px;
}
.weather-forecast {
  padding: 30px 0 0 0;
  max-width: 700px;
  text-align: center;
}
.weather-forecast-temperature-max {
  font-weight: bolder;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
.temperature {
  font-size: 36px;
}
.units {
  font-size: 36px;
}

#current-temperature {
  text-align: left;
}
.footnote {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.today .units {
  position: relative;
  font-size: 16px;
  top: -14px;
  font-weight: 500;
}
img {
  max-height: 48px;
  position: relative;
  top: -8px;
}

.today .active {
  color: white;
  text-decoration: none;
  cursor: none;
}
